zzz/
venv/
docs/
README.md

.pytest_cache/
__pycache__/


# Proposer
proposer/tests/
scripts/run-tests-proposer.sh

# Acceptor
acceptor/tests/
scripts/run-tests-acceptor.sh

# learner
learner/tests/
scripts/run-tests-learner.sh

# Client
client/tests/
run-tests-client.sh
run-tests-client-old.sh

# Cluster_Store
cluster_store/tests/
scripts/run-tests-cluster-store.sh


data/